<!DOCTYPE html>
<html>
<head>
<title>Alpha Linen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="9999.icon">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('./img/linen1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("./img/mb.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("./img/bvc.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
</style>
</head>
<body>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">WEBSITE</span> Alpha</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>Alpha Linen</em></p>
  <p>Alpha Linen is an intermediary website where textile shop owners display their products so that whoever needs them can buy them.
    The existence of many types of fabrics, which facilitates and speeds up the search process, saves time and effort, spreads products and links them to a larger market, and creates competition in the market.
    But the disadvantages are the difficulty of trusting the merchants on the site.
    There are many types of fabrics due to the display of more than one fabric store. The existence of a shipping service for shop owners that do not have a shipping service
    The possibility of requesting samples and evaluating the quality of the fabric</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>My Name is (Alpha Team)</b></p><br>
      <img src="./img/hhd.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Many owners of small and medium factories and owners of tailoring and clothing stores face a shortage problem owning the fabrics they need.
        They are forced to search for it in textile shops, and he is forced to travel to places he knows to search for fabric stores he knows for days to search for the kind of fabric he needs, and he needs it. To ship it himself because there is no shipping service in most stores, which leads to wasting time and money for no convincing reason. Only he can solve it
        This problem is easily solved by this site.
        The project must be profitable later and include electronic payment methods.</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16" > <img src="./img/car.gif"  width="30" height="24">Shipping Companies:</p>
  <p class="w3-wide"><a class="dropdown-item" href="https://www.dhl.com/eg-en/home.html?locale=true">DHL</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">open website</div>
  </div>
  <p class="w3-wide"><a class="dropdown-item" href="https://www.fedex.com/en-eg/home.html">fedex</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">open website</div>
  </div>
  <p class="w3-wide"><a class="dropdown-item" href="https://www.aramex.com/eg/ar">Aramex</p></a>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center"  style="width:75%">open website</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">العولبي</span><br>
    الاسكندرية
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">الوزان</span><br>
    الاسكندرية
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">محمد حسن</span><br>
    الاسكندرية
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">نجيب سليم للاقمشة</span><br>
    القاهرة
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">SOME PRODUCTS</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/mr (1).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الاول</p>
										<h3 class="product-name"><a href="#">مارينو فيراني</a></h3>
							
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/mr (2).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الثاني</p>
										<h3 class="product-name"><a href="#">مارينو اسود</a></h3>
				
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/mr (3).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الثالث</p>
										<h3 class="product-name"><a href="#">مارينو اصفر</a></h3>
			
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/mr (4).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الرابع</p>
										<h3 class="product-name"><a href="#">مارينو بينك</a></h3>
					
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/mr (5).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الخامس</p>
										<h3 class="product-name"><a href="#">مارينو رصاصي غامق</a></h3>
							
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/mr (6).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج السادس</p>
										<h3 class="product-name"><a href="#">مارينو برتقالي</a></h3>
									
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fc (1).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الاول</p>
										<h3 class="product-name"><a href="#">فكتوريا شعيرات بوليستر بيج غامق</a></h3>
						
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fc (2).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الثاني</p>
										<h3 class="product-name"><a href="#">فكتوريا شعيرات بوليستر موف فاتح</a></h3>
									
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fc (3).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الثالث</p>
										<h3 class="product-name"><a href="#">فكتوريا شعيرات بوليستر منت جرين فاتح</a></h3>
								
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fc (4).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الرابع</p>
										<h3 class="product-name"><a href="#">فكتوريا شعيرات بوليستر ازرق</a></h3>
							
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fc (5).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الخامس</p>
										<h3 class="product-name"><a href="#">فكتوريا شعيرات بوليستر لبني</a></h3>
								
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fc (6).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج السادس</p>
										<h3 class="product-name"><a href="#">فكتوريا شعيرات بوليستر زيتي غامق</a></h3>
								
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fm (1).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الاول</p>
										<h3 class="product-name"><a href="#">قماش اف ام رصاصي</a></h3>
										
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fm (2).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الثاني</p>
										<h3 class="product-name"><a href="#">قماش اف ام نبيتي</a></h3>
										
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fm (3).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الثالث</p>
										<h3 class="product-name"><a href="#">قماش اف ام كحلي</a></h3>
						
									</div>
								</div>
								<!-- product widget -->
							</div>

							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fm (4).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الرابع</p>
										<h3 class="product-name"><a href="#">قماش اف ام بابي بلو</a></h3>
										
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fm (5).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج الخامس</p>
										<h3 class="product-name"><a href="#">قماش اف ام ازرق</a></h3>
									
									</div>
								</div>
								<!-- /product widget -->

								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/fm (6).jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">المنتج السادس</p>
										<h3 class="product-name"><a href="#">قماش اف ام منت بلو</a></h3>
								
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="./img/img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
          
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">CONTACT ME</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="./img/logo2.icon.png" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"  style="margin-left: 30px;"></i> Phone: +2012345678910<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"  style="margin-left: 30px;"></i> Email: mail@mail.com<br>
		<i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="margin-left: 30px;"></i> alex, egypt<br>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3419.0530353835784!2d29.777559784512206!3d31.024771978549264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f592dab44ae28b%3A0x1339303410a753c7!2z2KfZhNmF2LnYp9mH2K8g2KfZhNi52YTZitinINmD2YrZhtisINmF2LHZitmI2Lc!5e0!3m2!1sar!2seg!4v1678718192274!5m2!1sar!2seg" width="600" height="450" style="border:-50; border-radius: 7px; padding: 20px; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w3-image w3-round"></iframe>
      </div>
      
        
        
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by Alpha Linen</p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
